/.git
/.vscode
/.idea
node_modules
**/*.test.js
**/*.gen.ts
babel.config.js
metro.config.js
react-native.config.js
prepare.js
/index.js
/flow
/__tests__
commitlint.config.js
devmoji.config.js
svgr.config.js
